# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Resources File #
/src/main/webapp/resources/*
/src/main/java/edu/nju/trainCollege/tools/SendEmail.java

# IDEA File #
.idea/*
/target/*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*